@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    color: inherit !important;
    text-decoration: none !important;
    list-style: none;
}
body{
    font-family: 'Archivo', sans-serif !important;
}
.contenedorDeHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #ff6e5d;
}

.contenedorDeHeader .logoDeTienda p {
    position: relative;
    top: 12px;
    left: 5px;
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
}

.barraDeNavegacion ul {
    display: flex;
    position: relative;
    left: 50vh !important;
    top: 20px;
}

.barraDeNavegacion li {
    padding-left: 15px !important;
}

.contenedorDeMain {
    width: 100%;
    height: 90vh;
    background-image: url(img/pexels-mica-asato-1198174.jpg);
    background-size: cover;
}
.contenedorDeMain .contenedorDeParrafo{
    width: 29%;
    height: 20vh;
    position: relative;
    top: 25vh;
    left: 25px;
}
.contenedorDeMain .contenedorDeParrafo p{
    font-family: 'Bangers', cursive;
    font-size: 50px;
    position: relative;
    top: 6vh;
    left: 9%;
    color: white !important;
    
}
.contenedorDeMain a {
    position: relative;
    top: 50vh;
    left: 45%;
    font-size: 25px;
    opacity: 0.6;
    background-color: white;
}
