@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    color: inherit !important;
    text-decoration: none !important;
    list-style: none;
}

body {
    font-family: 'Archivo', sans-serif !important;

}

/* HEADER-INICIO */
#contenedorDeHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    background: linear-gradient(70deg, #ff6e5d, #c54b4c);
}

#contenedorDeHeader #logoDeTienda p {
    position: relative;
    top: 12px;
    left: 5px;
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
}

#barraDeNavegacion ul {
    display: flex;
    position: relative;
    left: 50vh !important;
    top: 20px;
}

#barraDeNavegacion li {
    padding-left: 15px !important;
}

#botonDeIniciarSesion {
    border-style: none;
    background-color: transparent;
    position: relative;
    left: 28em;
    cursor: pointer;

}

#logoCarritoDeCompras {
    border-style: none;
    background-color: #90333d;
    border-radius: 60px;

}

#contenedorDeHeader #logoCarritoDeCompras {
    position: relative;
    left: 50em;
    top: 3vh;
    width: 3%;
    height: 3.5vh;
}

#logoCarritoDeCompras i {
    font-size: 17px;
    padding-left: 4px !important;
}

#logoCarritoDeCompras #cantidadDeCosasEnCarrito {
    font-weight: bold;
    padding-right: 2px !important;
    font-size: 11px;
}

/* HEADER-FIN */

/* MAIN-INICIO */
#contenedorMainTienda {
    display: flex;
    height: 250vh;
    justify-content: center;

}

#contenedorMainTienda #barraDeBusqueda {
    position: relative;
    top: 20px;
    left: 100px;
}

#barraDeBusqueda input {
    border-style: none;
    border-bottom: 1px solid grey;
    width: 150%;
}

#barraDeBusqueda input:focus {
    outline: none;
}

#filtrosDeLaTienda {
    position: relative;
    right: 100px;
    padding-top: 80px !important;
    width: 5%;
}

#filtrosDeLaTienda h1 {
    font-weight: bold;
}

#filtrosDeLaTienda h2 {
    font-weight: bold;
    padding-top: 20px !important;
}

#filtrosDeLaTienda h3 {
    font-weight: bold;
    padding-top: 20px !important;
}

#filtrosDeLaTienda h4 {
    font-weight: bold;
    padding-top: 20px !important;
}

#contenedorMainTienda #contenedorDeCamisetas {
    display: flex;
    width: 70%;
    height: 220vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contenedorMainTienda .camiseta {
    position: relative;
    left: 50px;
    top: 100px;
    width: 250px;

}

#contenedorMainTienda .camiseta img {
    width: 190px;
    height: 190px;
}

#contenedorMainTienda .camiseta p {
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-align: left;
}

#contenedorMainTienda .camiseta .precio-camiseta {
    position: relative;
    left: 45px;
    top: 10px;
    font-weight: inherit;

}

#contenedorMainTienda .camiseta .comprarArticulos {
    position: relative;
    left: 35px;
    top: 15px;
    border-radius: 50px;
    background-color: goldenrod;
}

/* MAIN-FIN */

/* FOOTER-INICIO */
.footer {
    background-color: aqua;
    width: 100%;
    height: 10vh;
    background: linear-gradient(70deg, #6b2331, #ff6e5d);
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer .parrafo-footer {
    padding-left: 5px !important;
}

.footer i {
    color: white !important;
}

/* ESTILO DE POP UP DE INICIAR SESION */
.popUpIniciarSesion {
    height: 50vh;
    background: linear-gradient(5deg, #ff6e5d, #90333d) !important;

}

.login_popUp {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
    padding-left: 25em !important;
    padding-top: 2em !important;
}

.login_popUp input {
    margin-bottom: 2em !important;
    border-style: none;
    background-color: inherit;
    border-bottom: 1px solid black;
}

.login_popUp input:focus {
    outline: none;
}

#botonDeLogueo_popup {
    background-color: green !important;
    color: white !important;
    width: 18%;
    padding: 7px !important;
    border-style: none;
    border-radius: 5%;
}

.tituloDe_popup {
    font-size: 25px;
}