@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    color: inherit !important;
    text-decoration: none !important;
    list-style: none;
}

body {
    font-family: 'Archivo', sans-serif !important;

}
/* HEADER-INICIO */
#contenedorDeHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #ff6e5d;
}

#contenedorDeHeader #logoDeTienda p {
    position: relative;
    top: 12px;
    left: 5px;
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
}

#barraDeNavegacion ul {
    display: flex;
    position: relative;
    left: 50vh !important;
    top: 20px;
}

#barraDeNavegacion li {
    padding-left: 15px !important;
}
#botonDeIniciarSesion{
    border-style: none;
    background-color:transparent;
    position: relative;
    left: 28em;
    cursor: pointer;
    
}
#logoCarritoDeCompras {
    border-style: none;
    background-color: #90333d;
    border-radius: 60px;

}

#contenedorDeHeader #logoCarritoDeCompras {
    position: relative;
    left: 50em;
    top: 3vh;
    width: 3%;
    height: 3.5vh;
}

#logoCarritoDeCompras i {
    font-size: 17px;
    padding-left: 4px !important;
}

#logoCarritoDeCompras #cantidadDeCosasEnCarrito {
    font-weight: bold;
    padding-right: 2px !important;
    font-size: 11px;
}

/* HEADER-FIN */

/* MAIN-INICIO */
#contenedorMainTienda {
    width: 100%;
    height: 160vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 38% 38% 38% 38%;
    grid-gap: auto;
}

#barraDeBusqueda {
    grid-column: 2/3;
    grid-row: 1;
}

#barraDeBusqueda input {
    border-style: none;
    border-bottom: 3px solid grey;
    width: 150%;
}
#barraDeBusqueda input:focus{
    outline: none;
}
#filtrosDeLaTienda {
    grid-row: 1/2;
    grid-column: 1;
    justify-self: center;
    padding-top: 80px !important;

}

#camisetaDelPSG {
    width: 50%;
    height: 30vh;
    background-image: url(img/camisetaDelPsg.jpg);
    background-size: cover;
    grid-row: 1;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

#camisetaDelPSG p,.comprarArticulos{
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelBarcelona {
    width: 50%;
    height: 30vh;
    background-image: url(img/Camisetadelbarcelona.jpg);
    background-size: cover;
    grid-row: 1;
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
}

#camisetaDelBarcelona p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelLiverpool {
    width: 50%;
    height: 30vh;
    background-image: url(img/liverpool-2021-22-nike-away-kit-1.jpg);
    background-size: cover;
    grid-row: 1;
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
}

#camisetaDelLiverpool p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelBayerMunich {
    width: 50%;
    height: 30vh;
    background-image: url(img/bayern-munich-2021-22-adidas-away-kit-1.jpg);
    background-size: cover;
    grid-row: 2;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

#camisetaDelBayerMunich p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDeBoca {
    width: 50%;
    height: 30vh;
    background-image: url(img/Tercera_Camiseta_Boca_Juniors_20-21_Azul_GK3096_01_laydown.jpg);
    background-size: cover;
    grid-row: 2;
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
}

#camisetaDeBoca p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelArsenal {
    width: 50%;
    height: 30vh;
    background-image: url(img/camiseta-adidas-arsenal-fc-authentic-primera-equipacion-2020-2021-active-maroon-white-0-500x500.jpg);
    background-size: cover;
    grid-row: 2;
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
}

#camisetaDelArsenal p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelCity {
    width: 50%;
    height: 30vh;
    background-image: url(img/manchester-city-2021-22-puma-home-kit-1.jpg);
    background-size: cover;
    grid-row: 3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

#camisetaDelCity p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelMilan {
    width: 50%;
    height: 30vh;
    background-image: url(img/ac-milan-2021-22-puma-home-kit-10.jpg);
    background-size: cover;
    grid-row: 3;
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
}

#camisetaDelMilan p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelBorussia {
    width: 50%;
    height: 30vh;
    background-image: url(img/borussia-dortmund-2021-22-puma-home-kit-1-1.jpg);
    background-size: cover;
    grid-row: 3;
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
}

#camisetaDelBorussia p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelNapoli {
    width: 50%;
    height: 30vh;
    background-image: url(img/camiseta-napoli-maradona1-41c17425bde837116616246266614865-640-0.jpg);
    background-size: cover;
    grid-row: 4;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

#camisetaDelNapoli p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDeRacing {
    width: 50%;
    height: 30vh;
    background-image: url(img/600_600-K236165LW-K902I_kombat_player_jersey_regular_2021_azure_blue_talle_S_1.jpg);
    background-size: cover;
    grid-row: 4;
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
}

#camisetaDeRacing p {
    position: relative;
    top: 200px;
    left: 25px;
}

#camisetaDelGenoa {
    width: 50%;
    height: 30vh;
    background-image: url(img/D_NQ_NP_796356-MLA42265507308_062020-O.jpg);
    background-size: cover;
    grid-row: 4;
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
}

#camisetaDelGenoa p {
    position: relative;
    top: 200px;
    left: 25px;
}

#filtrosDeLaTienda h1 {
    font-weight: bold;
}

#filtrosDeLaTienda h2 {
    font-weight: bold;
    padding-top: 20px !important;
}

#filtrosDeLaTienda h3 {
    font-weight: bold;
    padding-top: 20px !important;
}
#filtrosDeLaTienda h4{
    font-weight: bold;
    padding-top: 20px !important;
}
/* MAIN-FIN */

/* FOOTER-INICIO */
#contenidoDefooter{
    width: 100%;
    height: 90vh;
}
